<?xml version="1.0"?>
<config>
	<modules>
		<Virtual_Marques>
			<version>0.1.0</version>
		</Virtual_Marques>
	</modules>
  <global>
  	<helpers>
  		<virtual_marques>
  			<class>Virtual_Marques_Helper</class>
  		</virtual_marques>
  	</helpers>
    <blocks>
    	<virtual_marques>
    		<class>Virtual_Marques_Block</class>
    	</virtual_marques>
    </blocks>
    <models>
    	<virtual_marques>
    		<class>Virtual_Marques_Model</class>
    		<resourceModel>virtual_marques_resource</resourceModel>
    	</virtual_marques>
    	<virtual_marques_resource>
    		<class>Virtual_Marques_Model_Resource</class>
    		<entities>
    			<marque>
    				<table>virtual_marques_marque</table>
    			</marque>
    		</entities>
    	</virtual_marques_resource>
    </models>
    <resources>
    	<virtual_marques_setup>
    		<setup>
    			<module>Virtual_Marques</module>
    		</setup>
    		<connection>
    			<use>core_setup</use>
    		</connection>
    	</virtual_marques_setup>
    	<virtual_marques_write>
    		<connection>
    			<use>core_write</use>
    		</connection>
    	</virtual_marques_write>
    	<virtual_marques_read>
    		<connection>
    			<use>core_read</use>
    		</connection>
    	</virtual_marques_read>
    </resources>
  </global>
  <frontend>
  	<routers>
  		<virtual_marques>
  			<use>standard</use>
  			<args>
  				<module>Virtual_Marques</module>
  				<frontName>marques</frontName>
  			</args>
  		</virtual_marques>
  	</routers>
    <layout>
    	<updates>
    		<virtual_marques>
    			<file>virtual/marques.xml</file>
    		</virtual_marques>
    	</updates>
    </layout>
  </frontend>
  <admin>
  	<routers>
  		<adminhtml>
  			<args>
  				<modules>
  					<Virtual_Marques_Adminhtml before="Mage_Adminhtml">Virtual_Marques_Adminhtml</Virtual_Marques_Adminhtml>
  				</modules>
  			</args>
  		</adminhtml>
  	</routers>
  </admin>
  <adminhtml>
  	<translate>
  		<modules>
  			<virtual_marques>
  				<files>
  					<default>Virtual_Marques.csv</default>
  				</files>
  			</virtual_marques>
  		</modules>
  	</translate>
  	<layout>
  		<updates>
  			<virtual_marques>
  				<file>virtual/marques.xml</file>
  			</virtual_marques>
  		</updates>
  	</layout>
  </adminhtml>
</config>
